
*{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
}
.main-page{
    display: flex;
    flex-direction: column;
}
.top, .bottom{
    width: 780px;
    height: 150px;
    background: #D3D3D3;
}

.top p{
    text-align: center;
    margin: 50px;
}
.center{
    padding: 50px 0px 0px 10px;
    width: 700px;
    height: 200px;
    background: white;
}

.last-name-label{
    margin-left: 100px;
}
.phone-no-label{
    margin-left: 142px;
}
button{
    margin-left: 10px;
    margin-top: 20px;
    width: 150px;
    height: 20px;
    background-color: #4F7942;
    color: white;
    border-style: none;
    border-radius: 4px;
}
.bottom p{
    margin-left: 10px;
}
.bottom span{
    color: #4F7942;
}
